/*-----------------------------------------------------------------------------
	Clearfix
-----------------------------------------------------------------------------*/

.clear {
    clear: both;
}
.clearfix:after {
    content: ".";
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    display: block;
}
/*-----------------------------------------------------------------------------
	Widget Css
-----------------------------------------------------------------------------*/

.apsp-caption-disabled .apsp-pinterest-latest-pin {
    float: left;
    width: 30.33%;
    margin: 0 0 3% 3%;
    list-style: none;
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 4px #cccccc;
    box-shadow: 1px 3px 4px #cccccc;
    padding: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.apsp-caption-enabled .apsp-pinterest-latest-pin {
    background: none repeat scroll 0 0 #eeeeee;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 4px #cccccc;
    box-shadow: 1px 3px 4px #cccccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    list-style: outside none none;
    margin: 3% 0 0 3%;
    padding: 4px;
    width: 47%;
}
#apsp-pinterest-latest-pins.apsp-caption-enabled {
    margin: 3% 0 0 -3%;
    padding: 0;
    width: 100%;
}
#apsp-pinterest-latest-pins.apsp-caption-disabled {
    margin: 3% 0 0 -3%;
    padding: 0;
    width: 100%;
}
.apsp-pinterest-image a {
    border: medium none !important;
    display: block;
    text-align: center;
}
.apsp-pinterest-image img {
    border: medium none;
    display: inline-block !important;
}
.apsp-pinterest-text {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
